*{
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: right;
    background: lightgrey;
}
.navbar ul{
    display: flex;
    list-style: none;
   
    }
.navbar ul li a{
    text-decoration: none;
    margin: 2em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;

}
.navbar ul li a:hover{
    text-decoration: underline;
}
.btn{
padding: 15px 20px;
border-radius: 30px;
background: #ff00ff;
font-size: 20px;
color: #fff;
border: none;

}

body{
    background-image: url(images.avif);
     background-size: cover;
     background-position: center;
     
}
.btn:hover{
    letter-spacing: 3px;
    color: black;
}
h1{
   color: #fff; 
   font-size: 30px;
   text-align: center;
}
.text {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    height: 100vh;
}
.logo-container{
    display: flex;
  align-items:center;
}
.logo{
    max-height: 60px;
    width: auto;

}
.image img{
    width: 300px;
    height: auto;
    border: 5px solid gold;

}
.image{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}